*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
}

.link{
    display: block;
    line-height: 64px;
    color:#ccc;
    font-weight: 600;
}

.link.active{
    color:white;
    border-bottom: 2px solid;
    border-color: white;
}

.full-width{
    width: 100%;
}

.form-comment{
    background-color: #eaeaea;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}